@import "./colors";
@import "./tipografia";

.boton1 {
  background-color: $colorfondofour;
  font-family: $tipografia2;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  color: $textcolorprimary;
  padding: 5px 31px;
  transition: all ease 0.7s;
}

.boton1:hover {
  background-color: $colorfondoprimary;
  color: $textcolorsecundary;
  border: 1px solid $bordercolorprimary;
  transition: all ease 0.5s;
}
