// colores de texto
$textcolorprimary: black;
$textcolorsecundary: white;
$textcolortertiary: #fccd91;
$textcolorfour: #7b7b73;

// colores de bordes
$bordercolorprimary: #fccd91;
$bordercolorsecundary: white;
$bordercolortertiary: #aeaea5;
$bordercolorfour: black;

//colores de fondos
$colorfondoprimary: black;
$colorfondosecundary: white;
$colorfondotertiary: #e8e8e3;
$colorfondofour: #fccb8d;

//colores de iconos
$iconcolorprimary: white;
